@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.activity-panel {
  padding: 20px;
  border-left: 1px solid var(--input-border-color);
  @include flexColumn(24px);

  .list {
    list-style: none;
    @include flexColumn(8px);

    &__heading {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 8px;
      padding: 8px 4px;
    }

    &__item {
      display: flex;
      gap: 8px;
      padding: 4px;

      &.no-subtext {
        align-items: center;
      }

      &-avatar {
        display: flex;
        align-self: flex-start;

        &.icon {
          @include alignAllCenter;
          width: 24px;
          height: 24px;
          border-radius: 8px;
        }
      }

      &-info {
        width: 192px;

        &--text {
          font-size: 14px;
          @include ellipsisOneLine;
        }

        &--subtext {
          font-size: 12px;
          line-height: 18px;
          color: var(--secondary-color);
        }
      }
    }
  }
}
