@use "./variables.scss" as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.main {
  color: $main-color;
  background-color: $main-bg;
  display: grid;
  grid-template-columns: auto 1fr auto;
}
