@mixin alignAllCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

@mixin ellipsisOneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin colorBubble {
  width: 16px;
  height: 16px;
  @include alignAllCenter;

  span {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }
}
