@mixin alignAllCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin alignCenter {
  display: flex;
  align-items: center;
}

@mixin spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin ellipsisOneLine {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
