/* Core Text and BG Colors */

$main-bg: #ffffff;
$main-color: #1c1c1c;
$secondary-color: rgba(28, 28, 28, 0.4);
$tertiary-color: rgba(28, 28, 28, 0.2);
$tab-hover-color: rgba(28, 28, 28, 0.05);
$input-bg-color: rgba(28, 28, 28, 0.05);
$border-light: rgba(28, 28, 28, 0.1);

/* Other Colors */

$light-blue-1: #e3f5ff;
$light-blue-2: #f7f9fb;
$light-purple: #e5ecf6;

$progress-track-color: #e5eef5;
$progress-track-fill: #a9c5da;
