@use "../../styles/variables.scss" as *;
@use "../../styles/mixins.scss" as *;

.Home {
  padding: 28px;
  @include flexColumn(16px);

  .overview {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "summary projections projections projections"
      "revenue-chart revenue-chart revenue-by-location revenue-by-location"
      "top-selling-products top-selling-products total-sales total-sales";
    gap: 28px;

    &__caption {
      width: fit-content;
      font-size: 14px;

      padding: 4px 8px;
    }

    &__title {
      font-size: 14px;
    }

    &__section {
      &:not(:first-of-type) {
        padding: 24px;
        border-radius: 16px;
        background-color: var(--primary-blue-2);
      }
    }

    .summary {
      grid-area: summary;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 28px;

      &__card {
        padding: 24px;
        @include flexColumn(8px);
        align-items: flex-start;
        height: fit-content;
        border-radius: 16px;

        &.customers,
        &.growth {
          color: var(--color-black);
        }

        &.customers {
          background-color: var(--primary-blue-1);
        }

        &.orders {
          background-color: var(--primary-blue-2);
        }

        &.revenue {
          background-color: var(--primary-blue-2);
        }

        &.growth {
          background-color: var(--primary-purple);
        }
      }

      &__info {
        display: flex;
        align-items: center;
        gap: 28px;
      }

      &__value {
        line-height: 36px;
        font-size: 24px;
        font-weight: 600;
      }

      &__delta {
        font-size: 12px;
        @include alignCenter;
        gap: 4px;

        &.negative {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .projections {
      grid-area: projections;

      @include flexColumn(16px);
    }

    .revenue-chart {
      grid-area: revenue-chart;

      .rc {
        &__header {
          @include alignCenter;
          gap: 16px;
        }

        &__partition {
          color: var(--tertiary-color);
        }

        &__legend {
          @include alignCenter;

          &-color {
            @include colorBubble;
          }

          &-info {
            font-size: 12px;
            line-height: 18px;

            &--rate {
              font-weight: 600;
              padding-left: 4px;
            }
          }
        }
      }
    }

    .revenue-by-location {
      grid-area: revenue-by-location;

      @include flexColumn(16px);

      .rbl {
        &__map {
          width: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        &__cities {
          @include flexColumn(16px);
        }

        &__city {
          &-info {
            @include alignCenter;
            font-size: 12px;
          }

          &-name {
            flex: 3;
          }

          &-revenue {
            flex: 1;
          }

          &-progress {
            &--track {
              height: 2px;
              border-radius: 80px;
              background-color: $progress-track-color-light;
              position: relative;
              overflow: hidden;
            }

            &--fill {
              background-color: $progress-track-fill-light;
              position: absolute;
              left: 0;
              z-index: 2;
              height: 100%;
              border-radius: inherit;
            }
          }
        }
      }
    }

    .top-selling-products {
      grid-area: top-selling-products;

      @include flexColumn(4px);

      .tsp-table {
        margin-bottom: 24px;
        font-size: 12px;
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;

        thead {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1px;
            background: var(--tertiary-color);
            pointer-events: none;
          }
        }

        th {
          color: var(--secondary-color);
          text-align: start;
          line-height: 18px;
          font-weight: 400;
        }

        th,
        td {
          &:first-of-type {
            padding: 11px 12px 11px 0;
            width: 224px;
            max-width: 224px;
          }

          padding: 11px 12px;
          width: 130px;
          max-width: 130px;
        }

        td {
          @include ellipsisOneLine;
        }
      }
    }

    .total-sales {
      grid-area: total-sales;

      @include flexColumn(16px);

      &__chart {
        @include alignAllCenter;
        width: 100%;
        height: 100%;
      }

      &__table {
        font-size: 12px;
        border-collapse: separate !important;
        border-spacing: 0 7px;

        td {
          padding: 2px 0;
          line-height: 18px;

          &:first-of-type {
            @include alignCenter;
            padding-left: 4px;
          }
        }
      }

      &__color {
        @include colorBubble;
      }
    }
  }
}
