@use "../../styles/mixins.scss" as *;
@use "../../styles/variables.scss" as *;

.Sidebar {
  padding: 20px 16px;
  @include flexColumn(16px);
  font-size: 14px;
  border-right: 1px solid $border-light;

  .logo {
    @include alignCenter;
    gap: 8px;
    padding: 4px;
  }

  .favourites {
    @include flexColumn(4px);

    &__tabs {
      display: flex;
      gap: 8px;

      &-btn {
        color: var(--tertiary-color);
        background-color: transparent;
        border: none;
        padding: 4px 8px;
        cursor: pointer;
        font-size: 14px;

        &.active {
          color: var(--secondary-color);
        }
      }
    }

    &__content {
      &-list {
        list-style: none;
        @include flexColumn(4px);

        &--item {
          padding: 4px 28px;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 14px;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: var(--tertiary-color);
          }
        }
      }
    }
  }

  .menu {
    @include flexColumn(16px);

    &__item {
      h2 {
        font-size: 14px;
        font-weight: normal;
        color: var(--secondary-color);
        padding: 4px 0;
        margin-left: 10px;
        margin-bottom: 8px;
      }
    }

    &__list {
      @include flexColumn(4px);

      &-item {
        &--info {
          @include alignCenter;
          gap: 4px;
          padding: 4px 8px 4px 0;

          .dropdown-arrow,
          span:first-child {
            width: 16px;
            height: 16px;
            margin-left: 4px;
          }

          .dropdown-arrow {
            color: var(--icon-fill-color);
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: transform 0.2s ease;

            @include alignCenter;
          }
        }
      }

      .submenu {
        list-style: none;
        padding-left: 48px;
        @include flexColumn(4px);

        &__item {
          display: none;
          padding: 4px 8px 4px 0;
          width: 110px;
          @include ellipsisOneLine;
        }
      }

      &-item.open {
        .dropdown-arrow {
          transform: rotate(90deg);
        }

        .submenu__item {
          display: block;
        }
      }
    }
  }
}
